@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Roboto:wght@100;300;400;500;700&family=Space+Mono:wght@400;700&display=swap');

/* GENERAL STYLES */


body {
    font-family:'Roboto', sans-serif;
    letter-spacing: 2px;
    background-color: #fafafa;
    overflow-x: hidden; /* Hide horizontal scrollbar NOT WORKING */

}

h1,
h2,
h3,
h4{ font-family:'Space Mono', monospace;
}

p{ letter-spacing: normal;
}



/* ------------------------------------------------Home Section */


.intro {

background-color:#1c6cd4;
color: #fafafa;
padding: 2rem;

}



/* ------------------------------------------------Navbar menu */

.bg-dark{
background-color: black !important;
margin-top: 2rem;

}

.nav-item a {
font-family:'Space Mono', monospace;
font-weight:500;

}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; }



/* ------------------------------------------------Home */


.jumbotron-fluid {
    height: 80vh;
    background: url("../images/rec-cropped.png") no-repeat top center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
}


/* ------------------------------------------------Meet */


#meet {
margin-top: 3rem;
padding:3rem;
}

.meet-heading{
padding: 2rem;
}

.meet-container{
margin-bottom:2rem;
}



/* ------------------------------------------------Services */


#services{
    margin-top:3rem;
    padding-top:3rem;
}

.service-container{
    margin:1rem;
}

img#repairicon {
    margin-bottom: 2rem;
    width: 40% !important;
}

img#brilleicon {
    margin-bottom: 2rem;
}

img#lenseicon{
    margin-bottom: 2rem;
}

h2.text-center{
padding-top: 2rem;

}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* ------------------------------------------------Carousel */



.carousel-caption {
 background: rgba(0, 0, 0, 0.7);
transform: translateY(-50%);
  bottom: 0;
  top: 50%; 
}

.carousel-caption p{
    font-size:12px;
}

.blockquote-footer {
    color: #1c6cd4;
}


/* ------------------------------------------------Products */


.product-container{

    margin: 3rem;
    padding-top: 5rem;
}


/* ------------------------------------------------Contact us */


.form-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact {
    padding-top:5rem;
}



.opening-hours{
    padding-top: 5rem;
    padding-left: 1rem;
    text-align: left;
}

.opening-hours h1{
        padding-bottom: 1rem;

}


.location h1{

    text-align:center;
    padding-bottom: 1rem;
}

.location p{

    text-align:center;

}


/* ------------------------------------------------ Media Queries ---------------------------------------------------------- */




 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

/* ------------------------------------------------ Nav Bar */

div.container{
    padding-left: 0.5rem;
    padding-right: 1rem;
}   

a.nav-link  {
        margin-left : 0.5rem;
        margin-right : 0.5rem;
    }

img.img-responsive {
    width: 8rem;
    height: 8rem;
    }

.navbar {height: 80px;
}


/* ------------------------------------------------Carousel */

.carousel-caption p{
    font-size:20px;
}

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:991px) { 

/* ------------------------------------------------ Nav Bar */


a.nav-link {
    padding-right: 0rem;
    padding-left: 0.5rem;
    font-size: 90%;
    }



/* ------------------------------------------------Carousel */


.carousel-caption p{
    font-size:18px;
}



}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:767px) { 

/* ------------------------------------------------ Nav Bar */


a.nav-link {
    padding-left: 0.5rem;
    padding-right: 0.3rem;
    font-size: 80%;
    }

.carousel-caption p{
    font-size:12px;
}

.hide-scrollbar-sm {
      overflow-x: hidden;
   }

}

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/

  

    
    

